@font-face {
  font-family: "iconfont"; /* Project id 4252596 */
  src: url('iconfont.woff2?t=1694689801999') format('woff2'),
       url('iconfont.woff?t=1694689801999') format('woff'),
       url('iconfont.ttf?t=1694689801999') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gonggaoxiaolaba:before {
  content: "\e6db";
}

.icon-zhanghaoguanli:before {
  content: "\e676";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-xiaoxizhongxin:before {
  content: "\e617";
}

.icon-chanpinpeizhi:before {
  content: "\e6e3";
}

.icon-xiaoxiyitixing:before {
  content: "\e614";
}

.icon-ditu:before {
  content: "\e7af";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-fanhui:before {
  content: "\e60f";
}

.icon-keshihua:before {
  content: "\e60a";
}

.icon-yunyingguanli:before {
  content: "\e62b";
}

.icon-zhanghaoguanli1:before {
  content: "\e65e";
}

.icon-img_02:before {
  content: "\e62c";
}

.icon-zulinguanli:before {
  content: "\e65b";
}

.icon-shujuzhongxin:before {
  content: "\e62f";
}

